* { 
  margin: 0;
  padding: 0;
}

body {
  background: url(bg.png) repeat;
  color: #333;
  font-family: serif;
}

#main {
  background: white;
  width: 700px;
  margin: 0 auto;
  border-right: 2px solid black;
}

#header {
  border-bottom: 1px solid #aaa;
  background: #eee;
  padding-left: 10px;
  margin-bottom: 10px;
}

#header h1 {
  font-family: georgia;
  color: #aaa;
  letter-spacing: -3px;
  font-size: 3em;
	text-shadow: #0c0c0c 2px 2px 1px;
}

#header h1 .a {
  color: red;
  font-size: 1.4em;
}

#nav {
  float: right;
  padding: 10px;
  margin-top: -35px;
}

#body {
  padding-left: 10px;
}

.section {
  margin-bottom: 15px;
}

h2 {
  border-bottom: 1px dotted #aaa;
  margin-bottom: 10px;
  margin-top: 15px;
}

p {
  padding: 0 0 10px 10px;
  line-height: 1.5em;
}

a {
  color: #333;
}

ul {
  margin-left: 25px;
}

pre {
  margin: 0 18px 0 10px;
  padding: 10px;
  border: 1px solid #aaa;
  background: #eee;
}

#footer {
  font-family: helvetica;
  font-size:0.9em;
  border-top: 1px solid #aaa;
  background: #eee;
  padding: 10px;
  text-align: center;
  margin-top: 15px;
}

